USE [G2FTPUC1]
GO
/****** Object:  Table [dbo].[SAP_HR]    Script Date: 13.05.2020 18:01:25 ******/
DROP TABLE [dbo].[SAP_HR]
GO
/****** Object:  Table [dbo].[GC_Rights]    Script Date: 13.05.2020 18:01:25 ******/
DROP TABLE [dbo].[GC_Rights]
GO
/****** Object:  Table [dbo].[GC_AccessLog]    Script Date: 13.05.2020 18:01:25 ******/
DROP TABLE [dbo].[GC_AccessLog]
GO
USE [master]
GO
/****** Object:  Database [G2FTPUC1]    Script Date: 13.05.2020 18:01:25 ******/
DROP DATABASE [G2FTPUC1]
GO
/****** Object:  Database [G2FTPUC1]    Script Date: 13.05.2020 18:01:25 ******/
CREATE DATABASE [G2FTPUC1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'G2FTPUC1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\G2FTPUC1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'G2FTPUC1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\G2FTPUC1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [G2FTPUC1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [G2FTPUC1]
GO
USE [G2FTPUC1]
GO
/****** Object:  Table [dbo].[GC_AccessLog]    Script Date: 13.05.2020 18:01:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GC_AccessLog](
	[CardId] [int] NOT NULL,
	[DoorId] [int] NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[AccessResult] [bit] NULL,
	[WorkTimeComputed] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GC_Rights]    Script Date: 13.05.2020 18:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GC_Rights](
	[CardId] [int] NOT NULL,
	[AccesRight] [nvarchar](50) NOT NULL,
	[UID] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAP_HR]    Script Date: 13.05.2020 18:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAP_HR](
	[UID] [nvarchar](50) NOT NULL,
	[CardId] [int] NOT NULL,
	[PIN] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
